<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Silver, Gold, Platinum и Diamond статусы. Как получить микрокредит до 145 000 тенге – 4slovo.kz</title>
<META NAME="description" CONTENT="О привилегированных статусах постоянных пользователей сервиса микрокредитов «Честное слово»">
<meta name="Keywords" content="silver-статус, gold-статус, постоянный пользователь ">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="../favicon.ico" />
<link rel="icon" type="image/png" href="../favicon.png" />

<link rel="apple-touch-icon" href="../apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="76x76" href="../apple-touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="120x120" href="../apple-touch-icon-iphone-retina.png" />
<link rel="apple-touch-icon" sizes="152x152" href="../apple-touch-icon-ipad-retina.png" />

<link rel="canonical" href="https://4slovo.kz/privileges/">
<link rel="stylesheet" type="text/css" href="../assets/many-files-61f04561c7d9b36d71a931ee626b9e08-0368a04b59d6007430b7cc0e5ad504ba.css" />

<link rel="manifest" href="../manifest.json" />







<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript"> 
var grecaptchaCallback = function() {
    if (document.getElementById('grecaptcha')) {
    grecaptcha.render('grecaptcha', {
        'sitekey' : '6Ld_4vwSAAAAAIgk1GM08jyqLOoU48b4MBDUPu8P'
    });
    }
  };

	var c4sdomain = _main_domain = 'https://4slovo.kz/';
	var _lk_domain = 'https://lk.4slovo.kz/';
	var ecopt = {domain: '.4slovo.kz'};
	var summa2_new = 80000;
	var period2_new = 45;
	var use_promo_manual = '0';
</script>

<script src="http://www.google.com/recaptcha/api.js?onload=grecaptchaCallback&amp;render=explicit" async defer></script>
<script type="text/javascript" src="../resources/js/lib/vue2.min.js"></script>
<script type="text/javascript" src="../assets/many-files-a5d95ac676ed7903d1bdbe8ff6d42051-cc27adea0114104d706e3d8d0b445ccf.js"></script>





	
	<style>
		#buttonUp{
			position: fixed;
			bottom: 1em;
			right: 1em;
			width: 64px;
			height: 64px;
			z-index: 99999;
			cursor: pointer;
			opacity: 0.6;
		}
		#buttonUp .hide{
			display: none;
		}
	</style>




<meta name="ktoprodvinul" content="3b700390f43c3bf6" />
	<script src="../js/fp.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/notification-banner.css" />
	<script async type="text/javascript" src="../js/minified/notification.js"></script>

</head>

<body>

<script>
    
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71801372-1', 'auto');
    
        ga('send', 'pageview');
    
</script>

    
<script type='text/javascript'>
var is_user_auth = false;
var use_promo = false;
</script>




<div class="page-wrapper">

	<div class="popup">
		<div class="popup-wrapper">
			<div class="popup-close"></div>
			<div class="popup-content">
				<p><h2>Впервые на нашем сайте?</h2></p>
				<p class="popup-text">Оформите сегодня микрокредит по минимальной ставке</p>
				<p class="popup-percent">1% вместо 2,2%</p>
				<div class="popup-promo">
					<p>Ваш промокод: <span class="popup-code">e9D57G</span></p>
				</div>
				<a href="index.html#" class="popup-btn">Получить деньги срочно</a>
				<br>
			</div>
			<div class="popup-info"><p>Акция не действует в случае досрочного погашения.</p></div>
		</div>
	</div>
	<div class="header">
		
		<div class="width-wrapper">
			
			<div class="logo">
				<a href="../index.html"><img src="../images/logo.png" alt=""/></a>
			</div>

			<div class="given">
				
			</div>

			<ul class="menu menu-right">
				
				
				<li><a href="../usloviya/index.html" class="f">Условия</a></li>
				<li><a href="index.html">Постоянным клиентам</a></li>
				<li><a href="../faq/index.html">FAQ</a></li>
			</ul>

			<ul class="menu menu-left">
				<li><a href="../kak-poluchit-zaym/index.html" class="f">Как получить деньги</a></li>
				<li><a href="../vozvrat-zaima/index.html">Как погасить микрокредит</a></li>
			</ul>

			<div class="personal">
				<ul>
					<li class="first">
										<a href="../user.html">Войти</a>
										</li>
					
				</ul>
				<div class="icon"></div>
			</div>
			<div class="phones">

									<ul>
						<li class="first tooltip-anchor">
							<a href="../contact_mfo/index.html">Обратная связь</a>
						</li>
					</ul>
					<div class="icon"></div>
							</div>

			
		</div>
	</div>
	<div class="promo-slider">
		<div class="in">
			
			<div class="slider-scene">
				<div class="slider theme-default">
                                                                        <img src="../img/slider/75.jpg" title="#t75" />				</div>
                                				                    <div id="t75" class="caption">
                      <div class="h1">
                                                    <span style="color:white">Получите микрокредит онлайн уже сегодня!</span>
                                              </div>
                      <div class="h2">
                                                    <span style="color:black">Переводим на карту или счет</span>
                                              </div>
                    </div>
							</div>
			
		</div>
		<div class="slider-shadow"></div>
	</div>
	
	
	<div class="content">
		<div class="width-wrapper">


<div class="get-money-form text-page">
        <h1>ПРОГРАММА ЛОЯЛЬНОСТИ ДЛЯ ПОСТОЯННЫХ КЛИЕНТОВ</h1>
	<h3 style="text-align: justify;">Что такое статус?</h3>

<p style="text-align: justify;">Новые клиенты онлайн-сервиса «Честное слово» могут оформить микрокредит на сумму <strong>до 40 000 тенге на 10 дней</strong>.</p>

<p style="text-align: justify;">При повторном обращении максимальная сумма увеличивается <strong>до 80 000 тенге</strong><span style="text-align:justify">, а срок <strong>до 20 дней</strong>.</span></p>

<p style="text-align: justify;">Микрокредиты на сумму <strong>до 145 000 тенге</strong> и на большие сроки доступны заёмщикам в статусах <strong>Bronze, Silver, Gold</strong>, <strong>Platinum, Diamond.</strong></p>

<p style="text-align: justify;">Для них действуют следующие условия, сумма <strong style="text-align:justify">до 145 000 тенге</strong>:</p>

<ul><li style="text-align: justify;">на срок<strong> </strong>до<strong> 20 дней </strong>для статуса<strong> </strong><strong style="text-align:justify">Bronze</strong>,</li>
	<li style="text-align: justify;">на срок до<strong> 25 дней </strong>для<strong> </strong><strong style="text-align:justify">Silver-статуса</strong>,</li>
	<li style="text-align: justify;">на срок до<strong> 25 дней </strong>для<strong> </strong><strong style="text-align:justify">Gold-статуса</strong>,</li>
	<li style="text-align: justify;">на срок до<strong> 30 дней </strong>для<strong> </strong><strong style="text-align:justify">Platinum-статуса</strong>,</li>
	<li style="text-align: justify;">на срок до<strong> 30 дней </strong>для<strong> </strong><strong style="text-align:justify">Diamond-статуса</strong>.</li>
</ul><p style="text-align: justify;"><img alt="" class="adm-img" src="../images/upload/images/vip_card2.jpg" style="height:324px; width:755px"/></p>

<h3 style="text-align: justify;">Как получить статус?</h3>

<p style="text-align: justify;">Получить статус очень просто! Необходимо брать и вовремя погашать микрокредиты в сервисе «Честное слово».</p>

<p style="text-align: justify;">Повышение статуса происходит автоматически, на основе истории операций по получению и возврату денег, которые были совершены пользователем. На статус заёмщика влияют частота оформления, размер и своевременность погашения микрокредитов.</p>

<h3 style="text-align: justify;">Мне нужно больше денег. Могу ли я получить статус до оформления первой заявки?</h3>

<p style="text-align: justify;">Присвоение статуса означает, что вы стали привилегированным пользователем онлайн-сервиса «Честное слово». Статус нельзя купить, получить в подарок, подарить или перенести на учётную запись, принадлежащую другому пользователю.</p>

<h3 style="text-align: justify;">Мне присвоили статус, но в выдаче микрокредита все равно отказали. Как это можно объяснить?</h3>

<p style="text-align: justify;">Такое возможно. При рассмотрении заявки на микрокредит автоматическая скоринговая система проверяет большое количество данных заёмщика. Наличие статуса означает высокую степень доверия к постоянному пользователю нашего сервиса, но не свидетельствует о положительной кредитной истории пользователя в целом.</p>

<p style="text-align: justify;">Если вы обладаете статусом, но ваша заявка отклонена – проверьте, насколько пунктуально вы выполняли свои обязательства перед другими кредитными организациями. Добейтесь улучшения своей кредитной истории и подайте заявку ещё раз. В этом случае шансы положительного решения существенно возрастут.</p>

<h3 style="text-align: justify;">Как узнать свой текущий статус?</h3>

<p style="text-align: justify;">Узнать свой текущий статус всегда можно, войдя в <a href="http://4slovo.kz/user/">личный кабинет</a>. Если Вы забыли пароль, то легко можете <a href="http://4slovo.kz/user/change-password.php">поменять его на новый</a>.</p>

    </div>

</div>



		</div>
	</div>





	<div class="footer footer-height-wrapper">
		<div class="width-wrapper">

<form method="post" action="https://cp.unisender.com/ru/subscribe?hash=5hrptazc1qa1jyrb5s5yd91hz7za4tp8r5yu63xz7ddtb7ejskc6o" us_mode="embed" target="_blank" class="subscribe">
<input type="hidden" name="charset" value="UTF-8"/>
<input type="hidden" name="default_list_id" value="6962694"/>
<input type="hidden" name="overwrite" value="2" />
<p style="margin-top: -22px">Подпишитесь на рассылку и первыми<br />
    узнавайте о специальных предложениях.</p>
<input type="text" name="email" placeholder="Ваш e-mail" class="us_input field" /><input type="submit" value="" class="button us_submit" />
</form>


			<div class="phones">
				<strong><a href="../contact/open.php.html">Клиентская поддержка:</a></strong>
				<div>+7 (727) 3393404</div>
				<a href="mailto:mfo@4slovo.kz">mfo@4slovo.kz</a>
			</div>

			<ul class="menu">
				<li><a href="../about/index.html">О компании</a></li>
				<li><a href="../blog/index.html">Блог</a></li>
				<li><a href="../actions/index.html">Акции</a></li>
				<li><a href="../news/index.html">Новости</a></li>
				<li><a href="../press/index.html">СМИ о нас</a></li>
				<li><a href="../usloviya/index.html">Условия</a></li>
				<li><a href="../kak-poluchit-zaym/index.html">Как получить деньги</a></li>
				<li><a href="../vozvrat-zaima/index.html">Как погасить микрокредит</a></li>
				<li><a href="../faq/index.html">Вопросы и ответы</a></li>
				<li><a href="index.html">Постоянным клиентам</a></li>
				<li><a href="../partners/index.html">Партнерам</a></li>
				<li><a href="../friends/index.html">Приглашайте друзей</a></li>
			</ul>
			
			<div class="social">Мы в социальных сетях —
                <a href="https://vk.com/4slovo_kz" target="_blank"><img src="../images/vk.png" alt="вконтакте" width="30" height="30" /></a>
                <a href="https://www.facebook.com/4slovo.kz/" target="_blank"><img src="../images/fb.png" alt="facebook" width="30" height="30" /></a>
                <a href="https://www.instagram.com/4slovo_kz/?utm_source=4slovo_main" target="_blank"><img src="../images/in.png" alt="instagram" width="30" height="30" /></a>
            </div>
			
			<div class="copy">
				
				&copy; 2021 4slovo.kz - ТОО «МФО «Akshabar» с товарным знаком «Честное слово». Все права защищены.<br />
				Лицензия № 02.21.0020.М от 12.03.2021г., <br />
				выданная Агентством Республики Казахстан по регулированию и развитию финансового рынка. <br />
				Адрес: 050059, Казахстан, г. Алматы, пр. Аль-Фараби, д.19, н.п. 29а <br />
                               			</div>
                        
		</div>
	</div>

	<div class="width-wrapper">
				<ul class="how-its-done2">
					<li><a href="../protection-of-consumer-rights/index.html"><img alt="" src="../images/shield.png" /></a></li>
					<li><img alt="" src="../images/visa.png" /></li>
					<li><img alt="" src="../images/visa2.png" /></li>
					<li><img alt="" src="../images/mastercard.png" /></li>
					<li><img alt="" src="../images/mastercard2.png" /></li>
					<li><img alt="" src="../images/kassa24.png" /></li>
					<li><img alt="" src="../images/kazfintech-logonew.png" /></li>
				</ul>
	</div>
</div>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(34471555, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/34471555" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->







<!-- Код тега ремаркетинга Google -->
<!--------------------------------------------------
С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
--------------------------------------------------->

<!-- Согласие на обработку персональных данных -->
<div id="agreement-docs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header" style="text-align: center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel"></h3>
		</div>
		<div class="modal-body">

		</div>
		<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
		</div>
</div>
<!------------------------------------------------>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970970011;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<script src="../js/leadTeamWatch.js"></script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/970970011/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


</body>
</html>
