/* jquery UI slider styles */
.get-money-form .ui-slider {
	margin: 20px 0 20px 0;
}
.get-money-form .ui-slider-horizontal {
	height: 7px;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
}
.get-money-form .ui-slider-range {
	background: #7dc587;
	border-radius: 5px;
	z-index: 50;
}
.get-money-form .slider-amount .ui-slider-handle {
	background: #7dc587 url(/img_register/slider-icon-amount.png) no-repeat 50% 50%;
	width: 31px; height: 31px;
	top: -13px; outline: none;
	cursor: pointer;
	border-radius: 15px;
}
.get-money-form .slider-amount .ui-slider-handle.ui-state-hover {
	background-color: #62ad6d;
}

.get-money-form .vue-slider-amount .ui-slider-handle {
	background: #7dc587 url(/img_register/slider-icon-amount.png) no-repeat 50% 50%;
	width: 31px; height: 31px;
	top: -13px; outline: none;
	cursor: pointer;
	border-radius: 15px;
}
.get-money-form .vue-slider-amount .ui-slider-handle.ui-state-hover {
	background-color: #62ad6d;
}

.get-money-form .slider-term .ui-slider-handle {
	background: #7dc587 url(/img_register/slider-icon-term.png) no-repeat 50% 50%;
	width: 31px; height: 31px;
	top: -13px; outline: none;
	cursor: pointer;
	border-radius: 15px;
}
.get-money-form .slider-term .ui-slider-handle.ui-state-hover {
	background-color: #62ad6d;
}


.get-money-form .vue-slider-term .ui-slider-handle {
	background: #7dc587 url(/img_register/slider-icon-term.png) no-repeat 50% 50%;
	width: 31px; height: 31px;
	top: -13px; outline: none;
	cursor: pointer;
	border-radius: 15px;
}
.get-money-form .vue-slider-term .ui-slider-handle.ui-state-hover {
	background-color: #62ad6d;
}

.get-money-form ins {
    text-decoration: none;
}

.loan__parts {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loan__parts-item {
  height: 100%;
  position: absolute;
}

.loan__parts-item_0 {
  background: #7DC587;
}

.loan__parts-item_1 {
  background: #33ACE0;
}

.loan__parts-item_2 {
  background: #7986cb;
}

.loan__parts-item_3 {
  background: #ba68c8;
}

.loan__parts-item_4 {
  background: #4db6ac;
}

.loan__parts-item_5 {
  background: #aed581;
}

.loan__parts-item_6 {
  background: #ffd54f;
}

.loan__parts-item_7 {
  background: #ff8a65;
}

.loan__parts-item_8 {
  background: #a1887f;
}

.loan__parts-item_9 {
  background: #90a4ae;
}

.loan__parts-item_9 {
  background: #3f51b5;
}

.calculatorWrapper .slider span {
  position: absolute; }

.calculatorWrapper .slider .sliderStart, .calculatorWrapper .slider .sliderEquator, .calculatorWrapper .slider .sliderEnd {
  font-size: 16px;
  line-height: 1.2;
  color: #aaaaaa;
  bottom: -30px; }

.calculatorWrapper .slider .sliderStart {
  left: -20px; }

.calculatorWrapper .slider .sliderStart {
  left: -20px; }

.calculatorWrapper .slider .sliderEquator {
    width: 100px;
    margin-left: -50px;
    text-align: center; }

.calculatorWrapper .slider .sliderEnd {
    right: -20px; }

.calculatorWrapper .slider .startPart {
  position: absolute;
  background: #7DC587;
  height: 100%;
  width: 100%; }

.calculatorWrapper .slider {
  border: none;
  border-radius: 0px;
}

.calculatorWrapper .slider .ui-slider-handle {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px 1px #aaa;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  margin-top: -16px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 99;
}

.text--center {
  text-align: center; }

.text--main_color {
    color: #7FC489; }

.text--dark_color {
    color: #4A4A4A; }

.text--alarm_color {
    color: #F16565; }

.text--info_color {
    color: #979797; }

.text--border_dashed {
    border: 1px dashed;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px; }

.text--border_solid {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px; }

.text--border_radius {
    border-radius: 3px; }

.text--border_main_color {
    border-color: #7FC489; }

.text--border_info_color {
    border-color: #979797; }

.text--border_alarm_color {
    border-color: #F16565; }

.text--regular {
    font-weight: normal; }

.text--light {
    font-weight: 300; }

.text--bold {
    font-weight: bold; }

.text--demibold {
    font-weight: 400; }

.text--underline {
    text-decoration: underline; }

.text--margin_bottom {
    margin-bottom: 10px; }

.text--margin_bottom_4 {
    margin-bottom: 4px; }

.text--margin_bottom_8 {
    margin-bottom: 8px; }

.text--margin_bottom_16 {
    margin-bottom: 16px; }

.text--margin_bottom_24 {
    margin-bottom: 24px; }
    
.text--margin_bottom_32 {
    margin-bottom: 32px; }

.text--margin_left_20 {
    margin-left: 20px; }

.text--margin_top {
    margin-top: 10px; }

.text--margin_top_4 {
    margin-top: 4px; }

.text--margin_top_8 {
    margin-top: 8px; }

.text--margin_top_16 {
    margin-top: 16px; }

.text--margin_top_20 {
    margin-top: 20px; }
    
.text--margin_top_24 {
    margin-top: 24px; }
    
.text--margin_top_32 {
    margin-top: 32px; }
    
.text--little {
    font-size: 12px; }

.text--large {
    font-size: 18px; }

.text--xlarge {
    font-size: 24px; }

.text--xxlarge {
    font-size: 28px; }

.text--center {
    text-align: center; }

.text--uppercase {
    text-transform: uppercase; }

.text--padding-24-16 {
    padding: 24px 16px; }

.text--padding-0-8 {
    padding: 0 8px; }

.text--line {
    border-bottom: 1px solid #F2F2F2; }

.text--line-dotted {
    border-bottom: 1px dotted #F2F2F2; }

.text--block {
    display: block; }

.text--vertical_middle {
    vertical-align: middle; }

.bg1, .bg2 { position: absolute; width: 6px; height: 6px; top: 50%; margin-top: -3px; background: url(/img_register/bg1.png) 0 -11px no-repeat;}
.bg2 { background-position: 0 -2px;}
