#cookie_alert {
	text-align: center;
    background: #f2f2f2;
    color: #888888;
    padding: 10px 30px 10px 15px;
    font-size: 16px;
    position: relative;
}

@media screen and (max-width: 600px) {
    #cookie_alert {
        background:#f2f2f2;
        color:#888888;
        padding: 5px 30px 5px 15px;
        font-size: 12px;
        position: relative;
        text-align:center;
    }
    #close-alert {
        position:absolute;
        top:5px;
        right:12px;
        font-size: 16px;        
    }
}