.mobile_content .text {
    padding: 0;
}

.mobile_pickvalue__currency .icon.icon--ruble {
    line-height: unset;
    width: 20px;
}

.mobile_form {
    margin: 0;
}

.mobile__footer div, .mobile__footer ul, .mobile__footer li, .mobile__footer h4 {
    padding: 0;
    margin: 0;
}

.mobile__footer > div.row {
    width: 268px;
}
.mobile__footer > div.row.justify {
    text-align: justify;
}

.mobile__footer ol, .mobile__footer ul {
    list-style: none;
}

.mobile__footer li {
    line-height: 28px;
}

.mobile__footer .menu_footer {
    padding: 0 26px 0;
    line-height: 28px;
}

.mobile__footer .menu_footer a, .row a {
    text-decoration: none;
    color: #43B05C;
    font-size: 14px;
    border: none;
}

.mobile__footer .menu_footer_title {
    font-weight: bold;
}

.mobile__footer-bottom {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile__footer-bottom {
        display: block;
    }
}
